name: irfold
channels:
  - defaults
dependencies:
  - python=3.8
  - biopython
  - black
  - pandas
  - matplotlib
  - viennarna
  - typing
  - pathlib
  - pytest
  - pytest-cov
  - tqdm
  - pip:
      - ortools
prefix: /home/david/miniconda3/envs/irfold
